.wpec-comment textarea, .wpec-comment-form textarea {
    height: 6em;
    margin-bottom: 1em;
    resize: vertical;
    width: 100%;
}

.wpec-comment-edit-form {
    flex-grow: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wpec-comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wpec-comment-form a {
    color: red;
}

.wpec-comment-list {
    margin-bottom: 1em;
}

.wpec-comment {
    display: flex;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    border-top: 1px solid #e7e7e7;
}

.wpec-comment:first-child {
    border-top: none;
}

.wpec-comment-user {
    margin-right: 1em;
}

.wpec-comment-user img {
    display: block;
    background: #f6f6f6;
    padding: 0.3em;
    border: 1px solid #e7e7e7;
}

.wpec-comment-user div {
    text-align: center;
}

.wpec-comment-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.wpec-comment-display p {
    margin: 1em 0 0 0;
}

.wpec-comment-display p:first-child {
    margin-top: 0;
}

.wpec-comment-links {
    display: flex;
    justify-content: space-between;
}

.wpec-comment-links a {
    display: inline-block;
    margin-right: 0.25em;
}

.wpec-comment-links a[data-action="wp-editorial-comment-delete"] {
    color: red;
}